.page-list .current_page_item>a {font-weight: 700;}
.page-list-ext {clear: both;}
.page-list-ext {}
.page-list-ext:before, .page-list-ext:after {display: table;line-height: 0;content: "";}
.page-list-ext:after {clear: both;}
.page-list-ext .page-list-ext-item {clear: both;margin: 10px 0 30px;-webkit-column-break-inside: avoid;page-break-inside: avoid;break-inside: avoid;}
.page-list-ext .page-list-ext-image {float: left;display: inline;margin: 5px 15px 15px 0;}
.page-list-ext .page-list-ext-title {clear: none;}
.page-list-cols-2, .page-list-cols-3, .page-list-cols-4, .page-list-cols-5 {-webkit-column-gap: 30px;-moz-column-gap: 30px;column-gap: 30px;}
.page-list-cols-2 {-webkit-column-count: 2;-moz-column-count: 2;column-count: 2;}
.page-list-cols-3 {-webkit-column-count: 3;-moz-column-count: 3;column-count: 3;}
.page-list-cols-4 {-webkit-column-count: 4;-moz-column-count: 4;column-count: 4;}
.page-list-cols-5 {-webkit-column-count: 5;-moz-column-count: 5;column-count: 5;}
@media (max-width:767px) {.page-list-cols-2, .page-list-cols-3, .page-list-cols-4, .page-list-cols-5 {-webkit-column-count: 1;-moz-column-count: 1;column-count: 1;}}